{% extends "BlogApp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head %}
    <meta name="csrf-token" content="{% csrf_token %}">
    <link rel="shortcut icon" href="">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'users/css/croppie.css' %}">
{% endblock head %}



{% block content %}

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>


    <button id="profileImageUpload" class="btn btn-primary" type="button">Update Profile Pic AJAX</button>


      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Информаия Профиля</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Обновить</button>

            </div>
        </form>
    </div>

    <h1 id="testHead">Testing Croppie</h1>
    <input type="file" name="image" accept="image/*" class="myclearablefileinput form-control-file" id="id_image">
    <img id="ProfilePicture" src="" alt="Profile Picture" hidden="true">
    <button type="button" id="cancelButton" hidden="true">Cancel</button>
    <button type="button" id="cropButton" hidden="true">Crop and Save</button>

{% endblock content %}


{% block for_scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <!--<script type="text/javascript" src="{% static 'users/js/croppie.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'users/js/croppie.js' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/crop.js' %}"></script>
{% endblock for_scripts %}





