{% extends "BlogApp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Форма Регистрации</legend>
                <div class="d-flex justify-content-center">
                    <img src="{% static 'users/helper_images/logo1.png' %}" alt="logo1" style="width:auto;">
                </div>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Зарегистрироваться</button>

            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Уже есть аккаунт? <a class="ml-2" href="{% url 'login' %}">Зайти</a>
            </small>
        </div>

    </div>


{% endblock content %}





