<!DOCTYPE html>
{% load static %}
{% load name_filter %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'BlogApp/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/graduates.css' %}">


<style type="text/css">

  body{
    background-color: #f1e1c8;
  }

  #hh{
    font-size: 14px;
  }
  #pp{
      font-size: 12px;
  }
</style>

    <title>Выпускники</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-steel" style="background-color:#aacc00;">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Главная</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" style="color:#ffffff" href="{% url 'blog-home' %}">Новости</a>
              <a class="nav-item nav-link" style="color:#ffffff" href="{% url 'blog-about' %}">Инфо</a>
              <a class="nav-item nav-link" style="color:#ffffff" href="{% url 'photo-list' %}">Наши Фото</a>
              <a class="nav-item nav-link" style="color:#ffffff" href="{% url 'users-list' %}">Выпускники</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" style="color:#ffffff" href="{% url 'post-create' %}">Добавить новость</a>
                <a class="nav-item nav-link" style="color:#ffffff" href="{% url 'profile' %}">Мой Профиль</a>
                <a class="nav-item nav-link" style="color:#ffffff" href="{% url 'logout' %}">Выйти</a>

                {% else %}
              <a class="nav-item nav-link" style="color:#ffffff" href="{% url 'login' %}">Зайти</a>
              <a class="nav-item nav-link" style="color:#ffffff" href="{% url 'register' %}">Регистрация</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
</header>


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}

                    </div>
                {% endfor %}
            {% endif %}


<!-- +++++++++++++++++++++++++++++++ MAIN BLOCK +++++++++++++++++++++++++++++++++++++ -->

    <img class="img-fluid mx-auto d-block" src="{% static 'users/helper_images/grad.jpg' %}" alt="Oppps">

    <div>
        <h1 class="display-4 mt-3 text-center text-black" style="text-shadow: 4px 0px 6px rgba(56,24,15,0.36);font-weight:400;">Выпуск 2019 АТТ-401</h1>


        <div class="d-flex justify-content-center mb-3">
        <div id="prof" class="d-inline-block Grad">

            <img class="rounded-circle z-depth-2 mx-auto d-block mb-0 gradImg img-thumbnail" src="{% static 'users/helper_images/djadich.jpg' %}">
            <br><br><br>
            <div>
              <h1 id="hh" class="list-group-item list-group-item-action list-group-item-dark rounded text-center mb-0" style="background-color:#aacc00;">Куратор: Кайрат Джадыгерович</h2>
              <h1 id="pp" class="a list-group-item disabled rounded text-center mt-0">Only in English "Джадыч"</h1>
            </div>
        </div>
        </div>


        {% for user in users %}
            {% if request.user.username == user.username %}
                {% if user.profile.cap %}
                  <a class="nav-item nav-link d-inline-block" style="color:#ffffff;margin:0px;" href="{% url 'profile' %}">
                  <div id="cap" class="d-inline-block Grad">

                      <img class="rounded-circle z-depth-2 mx-auto d-block mb-0 gradImg" style="border:solid #111224 1px;" src="{{ user.profile.image.url }}">
                      <br><br><br>
                      <div>
                        <h1 id="hh" class="list-group-item list-group-item-action list-group-item-dark rounded text-center mb-0">{{ user.username|cutter }}</h2>
                        <h1 id="pp" class="a list-group-item disabled rounded text-center mt-0">{{ user.profile.nickname }}</h1>
                      </div>
                  </div>
                  </a>
                {% else %}
                  <a class="nav-item nav-link d-inline-block" style="color:#ffffff;margin:0px;" href="{% url 'profile' %}">
                  <div id="mate" class="d-inline-block Grad">

                      <img class="rounded-circle z-depth-2 mx-auto d-block mb-0 gradImg" style="border:solid #111224 1px;" src="{{ user.profile.image.url }}">
                      <br><br><br>
                      <div>
                        <h1 id="hh" class="list-group-item list-group-item-action list-group-item-dark rounded text-center mb-0">{{ user.username|cutter }}</h2>
                        <h1 id="pp" class="a list-group-item disabled rounded text-center mt-0">{{ user.profile.nickname }}</h1>
                      </div>
                  </div>
                  </a>
                {% endif %}
            {% else %}
                {% if user.profile.cap %}
                  <div id="cap" class="d-inline-block Grad">

                      <img class="rounded-circle z-depth-2 mx-auto d-block mb-0 gradImg" style="border:solid #111224 1px;" src="{{ user.profile.image.url }}">
                      <br><br><br>
                      <div>
                        <h1 id="hh" class="list-group-item list-group-item-action list-group-item-dark rounded text-center mb-0">{{ user.username|cutter }}</h2>
                        <h1 id="pp" class="a list-group-item disabled rounded text-center mt-0">{{ user.profile.nickname }}</h1>
                      </div>
                  </div>
                {% else %}
                  <div id="mate" class="d-inline-block Grad">

                      <img class="rounded-circle z-depth-2 mx-auto d-block mb-0 gradImg" style="border:solid #111224 1px;" src="{{ user.profile.image.url }}">
                      <br><br><br>
                      <div>
                        <h1 id="hh" class="list-group-item list-group-item-action list-group-item-dark rounded text-center mb-0">{{ user.username|cutter }}</h2>
                        <h1 id="pp" class="a list-group-item disabled rounded text-center mt-0">{{ user.profile.nickname }}</h1>
                      </div>
                  </div>
            {% endif %}
          {% endif %}
        {% endfor %}
    </div>

<!-- +++++++++++++++++++++++++++++++ MAIN BLOCK +++++++++++++++++++++++++++++++++++++ -->


    </div>
  </div>
</main>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>
