{% extends 'BlogApp/base.html' %}
{% load static %}
{% load name_filter %}

{% block head %}
    <title>Удаление Фотографии</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Photos/photo.css' %}">
{% endblock head %}


{% block content %}

    <div class="jumbotron">
        <div class="d-flex justify-content-center mb-4">
            <img class="img-thumbnail" src="{{ photo.image.url }}">
        </div>
        <h4 class="border-top">Ты серьезно хочешь удалить эту фотку?</h4>
        <p>Фото сделано: {{ photo.date_taken|date:"F d, Y" }}</p>
        <form method="post" class="col-form-label-lg">
            {% csrf_token %}
            <input type="submit" value="Удалить" class="btn btn-danger btn-md">
        </form>
    </div>

{% endblock content %}
