{% extends 'BlogApp/base.html' %}
{% load static %}

{% block head %}
    <title>Photos Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Photos/photo.css' %}">
{% endblock head %}


{% block content %}

    <h1>Description of the Photo</h1>


    <div class="card">
      <h3 class="card-header">{{ object.title }}</h3>
      <div class="card-body">
        <button id="90" type="button" class="btn btn-secondary">90</button>
        <button id="-90" type="button" class="btn btn-secondary">-90</button>
        <div class="d-flex justify-content-center photoDetail" style="background-color:#f0efeb">
            <img class="photo img-thumbnail align-self-center" src="{{object.image.url}}" style="width:16em;height:16em;display:inline-block;">
        </div>


        <div class="media mt-3">
            <img class="rounded-circle img-thumbnail" src="{{object.author.profile.image.url}}" style="width:5em;height:5em;display:inline-block;">
            <div class="media-body">
                <h5 class="mt-0">Author: {{ object.author }}</h5>
                <h5 class="mt-0">{{ object.date_taken|date:"d F Y" }}</h5>
            </div>
        </div>

        <p class="card-text border-top mt-3">{{ object.description }}</p>



        {% if request.user == object.author %}
            <a class="btn btn-warning btn-md" href="{% url 'photo-delete' object.pk %}">Delete</a>
        {% endif %}


        {% if request.user == object.author %}
            <form method="post" class="col-form-label-lg">
                {% csrf_token %}
                <input class="form-control" placeholder='{{ object.title }}' type="text" name="title">
                <input class="form-control" placeholder='{{ object.description }}' type="text" name="description">
                <button type="submit" class="btn btn-secondary btn-md btn-block">Update</button>
            </form>
        {% endif %}


      </div>
    </div>

    <h1>Comments</h1>
    {% if comments %}
        {% for comment in comments %}

            <div class="">
                <a href="#com" style="text-decoration:none;">
                    <h5 class="d-inline badge badge-secondary comment"><small style="font-weight:italic;">{{ comment.author }}: </small> {{ comment.content }}</h6>
                </a>
                {{ comment.date_added }}
                {% if request.user == comment.author %}
                    <a class="badge badge-danger badge-sm d-inline" href="#">Delete</a>
                    <a class="badge badge-info badge-sm d-inline" href="#">Update</a>
                {% endif %}
            </div>

        {% endfor %}
    {% endif %}


    <form action="" method="post" class="col-form-label-lg">
        {% csrf_token %}
        <input id="com" class="form-control" type="text" name="comment" placeholder="Comment here">
        <button type="submit" class="btn btn-primary btn-md btn-block">Comment</button>
    </form>


{% endblock content %}

{% block for_scripts %}
    <script type="text/javascript" src="{% static 'Photos/script_photo_detail.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{% endblock for_scripts %}
