{% extends 'BlogApp/base.html' %}
{% load static %}

{% block head %}
    <title>Удаление Фотографии</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Photos/photo.css' %}">
{% endblock head %}


{% block content %}

    <h1>Ты сербезно хочешь удалить это фото?</h1>
    <h2>Поделился(-ась): {{ photo.author }}</h2>
    <form method="post" class="col-form-label-lg">
        {% csrf_token %}
        <input type="submit" value="Удалить" class="btn btn-danger btn-md">
    </form>

{% endblock content %}
