{% extends "BlogApp/base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Инфо Страницы!</h1>
    <p>Дання веб-страница предназначена для пользования моими одногруппниками АТТ-401</p>
    <p>Приятного пользования!</p>

    <p>Выражаю особую благодарность Corey Schafer-у и его каналу!</p>
    <p>Deep appreciation to Corey Schafer and his outstanding tutorials!</p>
    <a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g" target="_blank">His YouTube Chanel</a>
</div>


{% endblock content %}

