{% extends "BlogApp/base.html" %}
{% load static %}
{% load name_filter %}


{% block head %}
<style>
      @media screen and (max-width: 400px) {
      h2.article-title {
        word-break: break-all !important;
      }
      p.article-content {
        word-break: break-all !important;
      }
      small.text-muted {
        font-size: 12px !important;
      }
    }
    h5.comment:hover{
      cursor: pointer;
    }
</style>
{% endblock head %}


{% block content %}
    <article class="media content-section" style="background-color:#f5f5f5;">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" style="border:solid #aacc00 2px;">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author|cutter }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Изменить</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Удалить</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        {% if post.image %}
          <img id="post_image" class="img-thumbnail mb-3" src="{{ post.image.url }}" alt="Post Image Here">

          <button id="90" type="button" class="mt-2 btn btn-outline-info d-block">Перевернуть</button>
        {% endif %}
        {% if user.is_superuser %}
          <form action="" method="post">
              {% csrf_token %}
              {% if post.pinned == False %}
                <input type="text" name="pinned" value="True" hidden="true">
                <button id="PinPost" type="submit" class="mt-2 btn btn-outline-danger">Закрепить</button>
              {% else %}
                <input type="text" name="pinned" value="False" hidden="true">
                <button id="PinPost" type="submit" class="mt-2 btn btn-outline-danger">Открепить</button>
              {% endif %}
          </form>

        {% endif %}



      </div>
    </article>




{% if comments %}
  <h1>Комментарии</h1>
  {% for comment in comments %}

      <div class="">


          <div class="media border rounded p-2 mb-4" style="background-color:#e9ecef">
            <div class="media-body">
              <div class="d-flex justify-content-between">
                <h5 class="mb-1 d-inline badge badge-secondary comment" style="font-size:15px;">{{ comment.author|cutter }}</h5>
                <small class="ml-4 d-inline">{{ comment.date_added|date:"F d, Y H:i" }}</small>
              </div>

              <div class="container">
                <p class="border-top">{{ comment.content }}</p>
              </div>
              <div class="justify-content-start">
            {% if request.user == comment.author %}

              <!-- DELETE MODAL -->
              <a class="badge badge-danger badge-sm d-inline" data-toggle="modal" href="#exampleModa{{comment.pk}}delete">Удалить</a>

              <!-- Modal -->
              <div class="modal fade" id="exampleModa{{comment.pk}}delete" tabindex="-1" role="dialog" aria-labelledby="exampleModa{{comment.pk}}Labeldelete" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModa{{comment.pk}}Labeldelete">Удаление коммента</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      <form method="post" action="{% url 'commentOnPost-delete' comment.pk %}">
                          {% csrf_token %}
                          <div class="">
                            <div class="media border rounded p-2 mb-4" style="background-color:#e9ecef">
                              <div class="media-body">
                                <div class="d-flex justify-content-between">
                                  <h5 class="mb-1 d-inline badge badge-secondary comment" style="font-size:15px;">{{ comment.author|cutter }}</h5>
                                  <small class="ml-4 d-inline">{{ comment.date_added|date:"F d, Y H:i" }}</small>
                                </div>

                                <div class="container">
                                  <p class="border-top">{{ comment.content }}</p>
                                </div>
                          </div>

                    </div>
                  </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                      <input class="btn btn-danger" type="submit" value="Удалить">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <!-- UPDATE MODAL -->
              <a class="badge badge-info badge-sm d-inline" data-toggle="modal" href="#exampleModa{{comment.pk}}update">Изменить</a>

              <!-- Modal -->
              <div class="modal fade" id="exampleModa{{comment.pk}}update" tabindex="-1" role="dialog" aria-labelledby="exampleModa{{comment.pk}}Labelupdate" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModa{{comment.pk}}Labelupdate">Редактирование коммента</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      <form method="post" action="{% url 'commentOnPost-update' comment.pk %}">
                          {% csrf_token %}
                          <textarea class="form-control form-control-lg" type="text-area" name="newcontent">{{ comment.content }}</textarea>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                      <input class="btn btn-primary" type="submit" value="Изменить">
                      </form>
                    </div>
                  </div>
                </div>
              </div>


          {% endif %}

              </div>
            </div>
          </div>
      </div>

  {% endfor %}
{% endif %}

    {% if user.is_authenticated %}
        <form id="commentForm" action="" method="post" class="col-form-label-lg">
            {% csrf_token %}
            <textarea class="form-control" name="comment" cols="30" rows="2" placeholder="Комментарий сюда"></textarea>
            <button type="submit" class="btn btn-primary btn-md btn-block">Комментировать</button>
        </form>
    {% endif %}

{% endblock content %}

{% block for_scripts %}
      <script type="text/javascript" src="{% static 'BlogApp/script_post_detail.js' %}"></script>
{% endblock for_scripts %}
