{% extends "BlogApp/base.html" %}
{% load static %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>


    <h1>Comments</h1>
    {% if comments %}
        {% for comment in comments %}

            <div class="">
                <a href="#com" style="text-decoration:none;">
                  <h5 class="d-inline badge badge-secondary comment"><small style="font-weight:italic;">{{ comment.author }}: </small> {{ comment.content }}</h6>
                </a>
                <small>{{ comment.date_added }}</small>
                {% if request.user == comment.author %}

                    <!-- DELETE MODAL -->
                    <a class="badge badge-danger badge-sm d-inline" data-toggle="modal" href="#exampleModal2">Delete</a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModal3Label">Delete your comment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">

                            <form method="post" action="{% url 'commentOnPost-delete' comment.pk %}">
                                {% csrf_token %}
                                <h5 class="d-inline badge badge-secondary comment"><small style="font-weight:italic;">{{ comment.author }}: </small> {{ comment.content }}</h6>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>


                    <!-- UPDATE MODAL -->
                    <a class="badge badge-info badge-sm d-inline" data-toggle="modal" href="#exampleModal3">Update</a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModal3Label">Update your comment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">

                            <form method="post" action="{% url 'commentOnPost-update' comment.pk %}">
                                {% csrf_token %}
                                <textarea class="form-control form-control-lg" type="text-area" name="newcontent">{{ comment.content }}</textarea>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <input class="btn btn-primary" type="submit" value="Update">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>


                {% endif %}
            </div>

        {% endfor %}
    {% endif %}


    <form action="" method="post" class="col-form-label-lg">
        {% csrf_token %}
        <input id="com" class="form-control" type="text" name="comment" placeholder="Comment here">
        <button type="submit" class="btn btn-primary btn-md btn-block">Comment</button>
    </form>
{% endblock content %}

{% block for_scripts %}
      <script type="text/javascript" src="{% static 'BlogApp/script_post_detail.js' %}"></script>
{% endblock for_scripts %}
